{extends "../@layout.latte"}
{block title}{_feed}{/block}

{block header}
    {_feed}
{/block}

{block content}

    <div class="tabs feed_switcher">
        <div id="activetabs" class="tab">
            <a id="act_tab_a" href="/feed">{_feed}</a>
        </div>
        <div id="ki" class="tab">
            <a id="ki" href="/notifications">
                {_feedback}
                <b n:if="$thisUser->getNotificationsCount() > 0">{$thisUser->getNotificationsCount()}</b>
            </a>
        </div>
        <div id="ki" class="tab">
            <a id="ki" href="/notifications">{_faves}</a>
        </div>
    </div>

    <div class="mb_tabs" style="margin: 0 -10px;">
        <div class="mb_tab" href="#">
            <img style="transform: rotate(45deg);" src="/assets/packages/static/openvk/img/input_clear.gif" alt="">
        </div>
        <div class="mb_tab" id="active">
            <a href="/feed">{_my_news}</a>
        </div>
        <div id="ki" class="mb_tab">
            <a href="/feed/all">{_all_news}</a>
        </div>
        <div id="ki" class="mb_tab">
            <a href="#">Аниме</a>
        </div>
        <div id="ki" class="mb_tab sex">
            <a href="#">Фотки</a>
        </div>
        <div id="ki" class="mb_tab">
            <a href="#">Рецепты</a>
        </div>
    </div>

    <div n:class="postFeedWrapper, $thisUser->hasMicroblogEnabled() ? postFeedWrapperMicroblog">
        {include "../components/textArea.latte", route => "/wall" . $thisUser->getId() . "/makePost", graffiti => true, polls => true, notes => true, hasSource => true, geo => true}
    </div>
    
    <div class="summaryBar" style="margin: -4px -10px 0; text-transform: lowercase;">
        <b><a href="#">{_all_title}</a></b>
        • 
        <a href="#">{_mobile_photos}</a>
        • 
        <a href="#">{_mobile_videos}</a>
        
        <a href='#' onclick="onFeedSettingsClick(event)" id="__feed_settings_link" style="float: right;" data-pagescount='{ceil($paginatorConf->count / $paginatorConf->perPage)}'>{_additional}</a>
        
    </div>

    <div class='scroll_container'>
        <div class='scroll_node' n:foreach='$posts as $post' data-uniqueid="{$post->getPrettyId()}">
            <a name="postGarter={$post->getId()}"></a>
            {include "../components/post.latte", post => $post, onWallOf => true, commentSection => true, bigWall => true}
        </div>
    </div>

    <div class="postFeedBottom">
        <div class="postFeedPaginator">
            {include "../components/paginator.latte", conf => $paginatorConf}
        </div>
    </div>

    <script>
        tippy('.sex', {
            content: `
                <table cellspacing="0">
                    <tr>
                        <td width="180" valign="top">
                            <span>
                                Фотографии для вдохновения, а так же жизнь моих друзей.
                            </span>
                            <hr>
                            <span>
                                13 источников <a style="float: right;" href="#">редактировать</a>
                            </span>
                        </td>
                    <tr>
                </table>
                
            `,
            theme: "light vk",
            placement: 'bottom',
            delay: 400,
            allowHTML: true,
            interactive: true,
            interactiveDebounce: 500
        });

    </script>

{/block}
